.body{
  font-family: 'Open Sans', sans-serif;
}

.story {
  color: #222;
  padding: 10px;
  font-height: 300;
}

.story p{
  color: #777;
}

.story .row h3{
  color: #222; 
  font-height: 300;
}

.story .row img{
  margin-left:auto;
  margin-right:auto;
}

footer p{
  margin: 10px;
  text-align: center;
}
