.body{
  font-family: 'Open Sans', sans-serif;
}

.story {
  background-color: #333;
  color: #eee;
}

.story .row h3{
  color: #777; 
}

footer{
  background-color: #222;
}

footer p{
  padding: 10px;
  text-align: center;
}
